$font-family-base: Roboto !default;

$white: #fff;
$color1: #114b5f;
$color2: #1a936f;
$color3: #88d498;
$color4: #c6dabf;
$color5: #fcfcfc;


$navbar-dark-color:                 rgba($white, .75) !default;
$navbar-dark-hover-color:           $white !default;
$navbar-dark-active-color:          #fff !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;

